<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.durranitech.taskalert"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlarmManager"
        tools:targetApi="31">
        <activity
            android:name="com.durranitech.taskalert.screens.SignUpActivity"
            android:exported="false"
            android:configChanges="layoutDirection"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.AlarmManager" />
        <activity
            android:name="com.durranitech.taskalert.screens.LocationDetailScreen"
            android:exported="false"
            android:configChanges="layoutDirection"
            android:label="@string/title_activity_location_detail_screen"
            android:theme="@style/Theme.AlarmManager" />
        <activity
            android:name="com.durranitech.taskalert.screens.TaskListScreen"
            android:exported="false"
            android:label="@string/title_activity_task_detail_screen"
            android:theme="@style/Theme.AlarmManager"
            android:configChanges="layoutDirection"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.durranitech.taskalert.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AlarmManager"
            android:configChanges="layoutDirection"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.durranitech.taskalert.screens.HomeScreen"
            android:exported="true"
            android:label="AlarmManager"
            android:configChanges="layoutDirection"
            android:theme="@style/Theme.AlarmManager"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.durranitech.taskalert.screens.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AlarmManager"
            android:configChanges="layoutDirection"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>